body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.logo {
    width: 120px;
    display: block;
    margin: 0 auto 20px auto;
}
.pagina-index h1 {
    text-align: center;
    color: #333;
}
.pagina-index h2 {
    text-align: center;
}
.pagina-index .button-container {
    text-align: center;
    margin-bottom: 20px;
}
.pagina-index .button-container a {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
    font-size: 16px;
}
.pagina-index .button-container a:hover {
    background-color: #0056b3;
}
.pagina-index table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.pagina-index th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
.pagina-index th {
    background-color: #f2f2f2;
}
.pagina-index .no-data {
    color: #666;
    font-style: italic;
    text-align: center;
}


/* register_ronda  */

.regiter_ronda h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
.regiter_ronda .form-group {
    margin-bottom: 15px;
}
.regiter_ronda .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.regiter_ronda .form-group input, .regiter_ronda .form-group select, .regiter_ronda .form-group textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.regiter_ronda .form-group textarea {
    resize: vertical;
}
.regiter_ronda .message, .error {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
}
.regiter_ronda .message {
    color: green;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}
.regiter_ronda .error {
    color: red;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}
.regiter_ronda .button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.regiter_ronda .button:hover {
    background-color: #0056b3;
}
.regiter_ronda .button-gray {
    background-color: #6c757d;
}
.regiter_ronda .button-gray:hover {
    background-color: #5a6268;
}
.regiter_ronda .footer {
    text-align: center;
    margin-top: 20px;
}
.regiter_ronda .footer a {
    padding: 10px 20px;
    background-color: #6c757d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    width: auto;
}
/* vigilantes */

.pagina_vigilantes h1, .pagina_vigilantes h2 {
    color: #000; /* Alterado para preto */
    text-align: center; /* Centralizado */
}
.pagina_vigilantes h1 {
    margin-bottom: 20px;
}
.pagina_vigilantes h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagina_vigilantes .form-group {
    margin-bottom: 15px;
}
.pagina_vigilantes .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.pagina_vigilantes .form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.pagina_vigilantes .hidden {
    display: none;
}
.pagina_vigilantes .message, .pagina_vigilantes .error {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
}
.pagina_vigilantes .message {
    color: green;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}
.pagina_vigilantes .error {
    color: red;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}
.pagina_vigilantes table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.pagina_vigilantes table, .pagina_vigilantes th, .pagina_vigilantes td {
    border: 1px solid #ddd;
}
.pagina_vigilantes th, .pagina_vigilantes td {
    padding: 12px;
    text-align: left;
}
.pagina_vigilantes th {
    background-color: #007bff;
    color: white;
}
.pagina_vigilantes td {
    background-color: #f9f9f9;
}
.pagina_vigilantes .button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
}
.pagina_vigilantes .button:hover {
    background-color: #0056b3;
}
.pagina_vigilantes .excluir-button {
    background-color: #dc3545;
}
.pagina_vigilantes .excluir-button:hover {
    background-color: #c82333;
}
.pagina_vigilantes .no-data {
    margin-top: 20px;
    color: #888;
}
.pagina_vigilantes .footer {
    margin-top: 20px;
    text-align: center;
}
.pagina_vigilantes .footer a {
    padding: 10px 20px;
    background-color: #6c757d; /* Alterado para cinza */
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.pagina_vigilantes .footer a:hover {
    background-color: #5a6268;
}
     h1 {
            text-align: center;
            font-size: 24px;
            color: #444;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f7f7f7;
        }
        .message, .error {
            padding: 10px;
            border-radius: 5px;
            margin-top: 20px;
        }
        .message {
            background-color: #d4edda;
            color: #155724;
            border: 1px solid #c3e6cb;
        }
        .error {
            background-color: #f8d7da;
            color: #721c24;
            border: 1px solid #f5c6cb;
        }
        .button {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: white;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 20px;
            cursor: pointer;
        }
        .button:hover {
            background-color: #0056b3;
        }
        .button-gray {
            background-color: #6c757d;
        }
        .button-gray:hover {
            background-color: #5a6268;
        }
        .hidden {
            display: none;
        }
        .form-group {
            margin-bottom: 20px;
        }
        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }
        input[type="password"], select, input[type="date"] {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .footer {
            text-align: center;
            margin-top: 20px;
        }
        .footer a {
            text-decoration: none;
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border-radius: 5px;
            display: inline-block;
        }
        .footer a.button-gray {
            background-color: #6c757d;
        }
        .footer a.button-gray:hover {
            background-color: #5a6268;
        }

        /* historico */

        .pagina_vigilantes h1 {
            text-align: center;
            font-size: 24px;
            color: #444;
        }
        .pagina_vigilante table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        .pagina_vigilante th, .pagina_vigilante td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        .pagina_vigilante th {
            background-color: #f7f7f7;
        }
        .pagina_vigilante .message, .pagina_vigilante .error {
            padding: 10px;
            border-radius: 5px;
            margin-top: 20px;
        }
        .pagina_vigilante .message {
            background-color: #d4edda;
            color: #155724;
            border: 1px solid #c3e6cb;
        }
        .pagina_vigilante .error {
            background-color: #f8d7da;
            color: #721c24;
            border: 1px solid #f5c6cb;
        }
        .pagina_vigilante .button {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: white;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 20px;
            cursor: pointer;
        }
        .pagina_vigilante .button:hover {
            background-color: #0056b3;
        }
        .pagina_vigilante .button-gray {
            background-color: #6c757d;
        }
        .pagina_vigilante .button-gray:hover {
            background-color: #5a6268;
        }
        .pagina_vigilante .hidden {
            display: none;
        }
        .pagina_vigilante .form-group {
            margin-bottom: 20px;
        }
        .pagina_vigilante label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }
        .pagina_vigilante input[type="password"], .pagina_vigilante select, .pagina_vigilante input[type="date"] {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .pagina_vigilante .footer {
            text-align: center;
            margin-top: 20px;
        }
        .pagina_vigilante .footer a {
            text-decoration: none;
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border-radius: 5px;
            display: inline-block;
        }
        .pagina_vigilante .footer a.button-gray {
            background-color: #6c757d;
        }
        .pagina_vigilante .footer a.button-gray:hover {
            background-color: #5a6268;
        }